.profileDiv{
    background: url(/public/background.png) no-repeat;
    background-size: cover;
}

.input-textarea-profile-update{
    border: 1px solid #c9c9c9;
}

/* ProfileUpdate.css */
.loaderProfile {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #077eff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:900px){
    .profileDiv{
        overflow: hidden;
    }
    /* .profile-content{
        height: 85vh;
    } */
    .profile-img{
        
    }
    .profile-content {
        padding-top: 20px;
        display: flex;
        /* height: 85vh; */
        flex-direction: column-reverse;
        gap: -240px;
        align-items: center; /* Center align content */
    }
}